@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background: #222222;
}

.header__nav {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__left {
  width: 111px;
  display: flex;
  gap: 41px;
}

.header__nav__left__search {
  padding-top: 10px;
}

.header__nav__right {
  width: 159px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 19px;
  height: 19px;
  background: #f16d7f;
  border-radius: 10px;
  top: -10px;
  right: -10px;
}

.circle p {
  color: #fff;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
}

.top {
  height: 764px;
  background-color: #f1e4e6;
  display: flex;
  margin-bottom: 65px;
}

.top__right-side {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 290px;
  margin-left: 63px;
  width: 405px;
  height: 93px;
}

.top__right-side h1 {
  color: #222;
  font-family: "Lato";
  font-size: 48px;
  font-weight: 900;
}

.top__right-side h2 {
  color: #222;
  font-family: "Lato";
  font-size: 32px;
  font-weight: 700;
}

.fashion {
  color: #f16d7f;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}

.category_card {
  width: 360px;
  height: 260px;
}

.category_card__background {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_card__background__title h2 {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}

.category_card__background__title__for {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
}

.for-women {
  background-image: url(./img/main/category/for_women.jpg);
}

.for-men {
  background-image: url(./img/main/category/for_men.jpg);
}

.for-kids {
  background-image: url(./img/main/category/for_kids.jpg);
}

.accessories {
  background-image: url(./img/main/category/accesories.jpg);
  width: 100%;
  height: 180px;
}

.products {
  margin-bottom: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__title {
  text-align: center;
}

.products__title {
  margin-bottom: 73px;
}

.products__title__h2 {
  color: #222;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
}

.products__title__p {
  color: #9f9f9f;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}

.product__card {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
  position: relative;
}

.product__background {
  width: 360px;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.product__background button {
  width: 139px;
  height: 44px;
  color: #fff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.product__background:hover {
  opacity: 1;
}

.product__card__text {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__card__h2 {
  color: #000;
  font-family: "Lato";
  font-size: 13px;
  font-weight: 400;
}

.product__card__p-text {
  color: #5d5d5d;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  width: 314px;
}

.product__card__price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.products__all-products-btn {
  color: #f26376;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ff6a6a;
  padding: 15px 39px;
}

.products__all-products-btn:hover {
  background-color: #f16d7f;
  color: white;
  transition: 0.3s linear;
}

.services {
  height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service_card {
  width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.service_card h2 {
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 19.96px;
  font-weight: 400;
}

.service_card p {
  color: #fbfbfb;
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
}

.subscribe {
  background-image: url(./img/footer/subscribe/background.jpg);
  background-size: cover;
  width: 100%;
  height: 448px;
}

.subscribe__background {
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 223px;
}

.subscribe__left-side {
  width: 360px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subscribe__left-side p {
  color: #222224;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
}

.subscribe__italic {
  font-style: italic;
}

.subscribe__right-side {
  text-align: center;
  width: 557px;
  height: 142px;
}

.subscribe__right-side h2 {
  color: #222224;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  /* line-height: 167.2%; */
  margin-bottom: 32px;
}

.subscribe__h2 {
  font-size: 18px;
  font-weight: 400;
}

.subscribe__text-form {
  width: 256px;
  height: 49px;
  background-color: #e1e1e1;
  border-radius: 50px 0 0 50px;
  border-style: none;
  color: #222224;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
}

.subscribe__text-form::placeholder {
  padding-left: 22px;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  text-align: center;
  background-color: #f16d7f;
  border-radius: 0 50px 50px 0;
  border-style: none;
  color: #fff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
}

.bottom {
  height: 79px;
  background-color: #222224;
}

.bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom p {
  margin-top: 30px;
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}

.bottom__logo {
  margin-top: 24px;
  display: flex;
  gap: 7px;
}

.logo {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  background-color: #f16d7f;
  transition: 0.3s linear;
}

.logo:hover svg {
  fill: white;
  transition: 0.3s linear;
}

@media (max-width: 1146px) and (min-width: 768px) {
  .container {
    max-width: 736px;
    margin: 0 auto;
  }

  .top {
    height: 368px;
    justify-content: center;
  }

  .top__right-side {
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
    margin-top: 138px;
    margin-left: 39px;
    width: 311px;
    height: 78px;
  }

  .top__right-side h1 {
    font-size: 44px;
  }

  .top__right-side h2 {
    font-size: 24px;
  }

  .category {
    gap: 18px;
    margin-bottom: 110px;
  }

  .category_card {
    width: 231px;
    height: 167px;
  }

  .accessories {
    width: 100%;
    height: 116px;
  }

  .products {
    margin-bottom: 71px;
  }

  .products__cards {
    gap: 16px;
  }

  .services {
    height: 610px;
    flex-direction: column;
    gap: 48px;
  }

  .subscribe {
    background-size: cover;
    width: 100%;
    height: 614px;
  }

  .subscribe__background {
    height: 614px;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
  }

  .subscribe__left-side {
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 343px;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .header__nav__right {
    justify-content: flex-end;
  }

  .top {
    height: 375px;
    justify-content: center;
  }

  .top__right-side {
    margin-top: 148px;
    margin-left: 0;
    width: 264px;
    height: 66px;
  }

  .top__right-side h1 {
    font-size: 38px;
  }

  .top__right-side h2 {
    font-size: 20px;
  }

  .category {
    gap: 32px;
    margin-bottom: 64px;
  }

  .category_card {
    width: 100%;
    height: 248px;
  }

  .accessories {
    height: 111px;
    background-size: cover;
    background-position: center;
  }

  .products {
    margin-bottom: 85px;
  }

  .services {
    height: 610px;
    flex-direction: column;
    gap: 48px;
  }

  .subscribe {
    background-size: cover;
    width: 100%;
    height: 614px;
  }

  .subscribe__background {
    height: 614px;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;
  }

  .subscribe__left-side {
    margin-top: 64px;
  }

  .subscribe__right-side {
    width: 341px;
  }

  .subscribe__right-side h2 {
    /* line-height: 153.2%; */
  }

  .subscribe__h2 {
    font-size: 14px;
  }

  .subscribe__text-form {
    width: 241px;
  }
  .bottom {
    height: 143px;
  }

  .bottom__content {
    flex-direction: column-reverse;
  }
}
